# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/finance-tracker/node_modules
/frontend/finance-tracker/.pnp
/frontend/finance-tracker.pnp.*
/frontend/finance-tracker/.yarn/*
!frontend/finance-tracker/.yarn/patches
!frontend/finance-tracker/.yarn/plugins
!frontend/finance-tracker/.yarn/releases
!frontend/finance-tracker/.yarn/versions

# testing
/frontend/finance-tracker/coverage

# next.js
/frontend/finance-tracker/.next/
/frontend/finance-tracker/out/

# production
/frontend/finance-tracker/build

# misc
/frontend/finance-tracker/.DS_Store
/frontend/finance-tracker/*.pem

# debug
/frontend/finance-tracker/npm-debug.log*
/frontend/finance-tracker/yarn-debug.log*
/frontend/finance-tracker/yarn-error.log*

# env files (can opt-in for commiting if needed)
/frontend/finance-tracker/.env*

# vercel
/frontend/finance-tracker/.vercel

# typescript
/frontend/finance-tracker/*.tsbuildinfo
/frontend/finance-tracker/next-env.d.ts

/backend/target
.env
.idea

# Ignore Docker-related persistent data
pgdata/
